table {
    margin-left: 10px;
    margin-right: 10px;
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif ;
}
 
.gridletter{
    background-color: lightyellow;
    color: midnightblue;
}


.selected {
    background-color: black;
    color: white;
}

.unselected {
    background-color: #edecd8;
    color: #000000;
}

.startingright {
    background-color: #ad7738;
    background-color: #847f94;
    color: #ddddff;
}

.wronganswer {
    background-color: #444b77;
    color: #ddddff;
}

.inputletter {
    background-color: #9999ff;
    color: #000000;
}

.rightanswer {
    background-color: #ff9900;
    color: black;
}


td,
th {
    background: #0fff0f;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: .5em;
    padding-bottom: .5em;
    text-align: center;
    max-width: 300px;
    border: 1px solid #000000;
    font-family: monospace;
    font-size: 2em;
    font-weight: bolder;
}


table {
    margin-left: auto;
    margin-right: auto;
}


#wrapper {
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(#1da9f0, #0000ff);
    background-image: linear-gradient(#83c6e7, #4466ff);
}


#scorepane, #debugpane {
    font-family: Arial, Helvetica, sans-serif ;

    text-align: right;
    font-size: 2pc;
    font-weight: bold;
}

body{
    background-image: linear-gradient(#83c6e7, #4466ff);
    background-image: linear-gradient(#4466ff,#83c6e7);
}




/**************************************************************/
/* tablet */
@media only screen and (max-width:1024px) {
    body {
        margin: 0;
        margin: 0;
        background-image: none;
    }

    #wrapper {
        width: auto;
        min-width: 0;
        margin: 0;
        height: 100%;
    }

    header {
        background-color: #163d4f;
        color: #FFFFFF;
        text-align: center;
        padding-bottom: 0px;
        padding-top: 0;
    }

    nav {
        width: 100%;
        padding-bottom: 1em;
        text-align: center;
    }

    nav li {
        display: inline;
        padding-right: 1em;
    }


    nav ul {
        margin: 0
    }

    h1 {
        padding: 0;
    }

    main {
        margin-left: 0;
        min-height: 200px;
    }

    table {
        margin-left: auto;
        margin-right: auto;
    }

    header {
        padding: 0;
        margin: 0;
    }

    #plainphone {
        display: none;
    }

    #linkphone {
        display: inline;
    }
}


/**************************************************************/
/* phone */
@media only all and (max-width:768px) {
    h1 {
        height: 100%;
        font-size: 1.5em;
        padding-left: 0.3em;
        margin: 0;
    }




    aside {
        display: none;
    }

    #skills {
        display: block;
    }

    .logopic {
        display: none;
    }


}